<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receitas de Tortas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <header class="container-fluid text-center text-white py-3 ">
    <div class="container p-4 align-items-center">
      <h1>Blog Dos Doces Deliciosos</h1>
      <p class="p">Receitas irresistíveis para adoçar a sua vida!</p>
    </div>
  </header>

  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container bg-transparent">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReceitas" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Receitas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownReceitas">
              <li><a class="dropdown-item" href="/receitas/bolos">Bolos</a></li>
              <li><a class="dropdown-item" href="/receitas/brigadeiros">Brigadeiros</a></li>
              <li><a class="dropdown-item" href="/receitas/tortas">Tortas</a></li>
              <li><a class="dropdown-item" href="/receitas/mousses">Mousses</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contato">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container py-5">
    <h2 class="text-center">Receitas de Tortas</h2>
    <div class="row p-5">

      <div class="col-md-6 col-lg-4 mb-4 ">
        <div class="card  text-center mb-3">
          <img src="../img/torta limao.jpeg" class="card-img-top" alt="Outra Receita de Bolo">
          <div class="card-body text-center p-4 mb-3">
            <h5 class="card-title">Torta de limão</h5>
            <p class="card-text">Uma torta refrescante de limão com massa crocante e recheio cremoso</p>
            <a href="/receitas/torta-limao" class=" btn bg-danger text-white">Ver Receita</a>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 mb-4 ">
        <div class="card  text-center mb-3">
          <img src="../img/tortamorango.jpeg" class="card-img-top" alt="Outra Receita de Bolo">
          <div class="card-body text-center mb-3">
            <h5 class="card-title">Torta de morango</h5>
            <p class="card-text">Uma deliciosa torta de morango com massa crocante e recheio cremoso</p>
            <a href="/receitas/torta-morango" class=" btn bg-danger text-white">Ver Receita</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 ">
        <div class="card  text-center mb-3">
          <img src="../img/torta maracujá.jpeg" class="card-img-top" alt="Outra Receita de Bolo">
          <div class="card-body text-center mb-3">
            <h5 class="card-title">Torta de Maracujá</h5>
            <p class="card-text">Uma torta deliciosa de maracujá com massa crocante e recheio cremoso</p>
            <a href="/receitas/torta-de-maracuja" class=" btn bg-danger text-white">Ver Receita</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 ">
        <div class="card text-center">
          <img src="../img/tortamorangochocolate" class="card-img-top" alt="Outra Receita de Bolo">
          <div class="card-body text-center mb-3">
            <h5 class="card-title">Torta de morango com chocolate</h5>
            <p class="card-text">Uma combinação irresistível de morangos frescos e chocolate</p>
            <a href="/receitas/torta-morangochocolate" class=" btn bg-danger text-white">Ver Receita</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 ">
        <div class="card  text-center mb-3">
          <img src="../img/tortabanana.jpeg" class="card-img-top" alt="Outra Receita de Bolo">
          <div class="card-body text-center mb-3">
            <h5 class="card-title">Torta de banana caramelada</h5>
            <p class="card-text">Uma torta deliciosa com bananas carameladas</p>
            <a href="/receitas/torta-banana" class=" btn bg-danger text-white">Ver Receita</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 ">
        <div class="card  text-center mb-3">
          <img src="../img/tortali.jpeg" class="card-img-top" alt="Outra Receita de Bolo">
          <div class="card-body text-center mb-3">
            <h5 class="card-title">Torta de Limão com Merengue</h5>
            <p class="card-text">Uma torta cítrica com recheio de limão e cobertura.</p>
            <a href="/receitas/torta-limão" class=" btn bg-danger text-white">Ver Receita</a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="container-fluid  text-white py-3 mt-2 mb-0 align-items-center">
    <div class="container text-center bg-transparent">
      <p>Todos os direitos reservados &copy; 2023 Blog Dos Doces Deliciosos</p>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
  <script src="../script.js"></script>
</body>

</html>